
footer {
    padding-left: 240px !important;
}

    .bg-\[\#1D6BCD\] {
      background-color: #1D77F3 !important;
    }
header {
    z-index: 9;
    width: 240px;
    position: fixed !important;
    left: 0;
    top: 0;
    height: 100%;
}
header .container {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
header .container .flex {
    flex-direction: column;
    height: 100%;
}
main {
    padding-left: 240px !important;
}
header .container .flex nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
    button.rounded {
      border-radius: 1000px !important;
    }